.all_in{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttons{
    display: flex;
}
.buttons{
    flex-direction: row;
    gap: 10vw;

}
.button{
    padding: 3%;
    margin-right: 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
}

.btn_p{
    display: inline;
}
.h1{
    border: 3px dashed black;
    padding-left: 20%;
    padding-right: 20%;
    margin: 30px;
    border-radius: 10px;
    align-items: center;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    font-family: Montserrat;
}
@keyframes animate1 {
    0%{
        transform: none;
    }
    25%{
        transform: translate(40px,40px);
    }
    50%{
        transform: translateX(40px);
    }
    75%{
        transform: translateY(40px);
    }
}
@keyframes animate2 {
    0%{
        transform: none;
    }
    25%{
        transform: translate(-40px,-40px);
    }
    50%{
        transform: translateX(-40px);
    }
    75%{
        transform: translateY(-40px);
    }
}
.anime1{
    animation: animate1 2.5s ease-out;
    animation-iteration-count: infinite;
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 5px;
    
}
.anime2{
    animation: animate2 2.5s ease-out;
    animation-iteration-count: infinite;
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 5px;
}
button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
}
.stats_div{
    background-image: url(https://previews.123rf.com/images/zagory/zagory2112/zagory211200210/179621784-seamless-background-with-simple-icons-on-the-theme-of-mathematics-and-learning-the-dark-contour-on.jpg);
    margin-top:10px;
    
}
div p{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    display: inline-flex;
    margin: 3px;
    padding: 3px;
}
#stats h3{
    background-color: rgb(255, 255, 255);
    border-top: 8px double rgb(0, 0, 0);
    border-bottom: 8px double rgb(0, 0, 0);
}
button:hover{
    color: #808080;
}
.maths_name{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    display: inline-flex;
    margin: 3px;
    padding: 3px;
}
header p{
    display:inline-block;
}
header h1{
    display: inline-block;
    margin-right: 7.5px;
    margin-bottom: 15px;
}
.animes_css{
    display: inline-block;
}
.aut_rights{
    padding-top: 5px;
}
a{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    display: inline-flex;
    margin: 3px;
    padding: 3px;
    color: black;
}
aside{
    display: block;
    font-size: 10px;
}
aside:hover{
    transform: scale(1.25);
    transition: 0.5s;
    box-shadow: 0 0 10px 0;
}
footer p:hover{
    transform: scale(1.15);
    transition: 0.5s;
    margin:15px;
    box-shadow: 0 0 10px 0;
    margin-left: 25px;
}
.row-item {
    margin-bottom: 5px;
    width: 85px;
    border: 2px solid black;
    height: 33px;
}
.name_maths{
    padding-bottom: 5.5px;
}

